form h2 {
    color: rgb(54, 21, 120);
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.meuinput{
    width:100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
}